*{
    font-family: 'Playfair', sans-serif;
}

header .header-title{
    font-size: 2.4em;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav > li{
    display: inline-block;
}

.navbar-nav > li > a{
    color: gray;
}

.navbar-nav > li > a:hover{
    text-decoration: underline;
}

.jumbotron .title{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}

.jumbotron-text > p{
    font-size: 1.1em;
}
.jumbotron-text > a{
    font-size: 1.2em;
}

.family-times{
    font-family: 'Times New Roman', Times, serif;
}

.card-title{
    font-size: 2.4em;
}

.top-heading{
    size: 2em;
}

.options > button:nth-child(2){
    cursor: default;
}

.side-content .side-content-title{
    font-size: 2em;
}