<div class="modal-header">
    <h4 class="modal-title">Add New Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addTask" (submit)="submit()" ngNativeValidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title Here" [(ngModel)]="task.title" required />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description Here" [(ngModel)]="task.description"></textarea>
        </div>

        <div class="form-group">
            <label for="completion-date">Completion Date</label>
            <input type="date" class="form-control" id="completion-date" name="completion-date" [ngModel]="task.completionDate | date:'yyyy-MM-dd'" (ngModelChange)="setDate($event)" required />
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority" name="priority" class="form-control" [(ngModel)]="task.priority">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="addTask" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss(null)">Close</button>
</div>