div.card-title{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.card{
    background-color: #ddd;
    border-color: #ddd;
}

.emptyStatus{
    font-weight: bold;
    color: gray;
    text-align: center;
}