<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>EAD-3</display-name>
  <servlet>
    <servlet-name>studentDetails</servlet-name>
    <servlet-class>server.StudentDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchStudent</servlet-name>
    <servlet-class>server.SearchStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>server.List</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateStudent</servlet-name>
    <servlet-class>server.UpdateStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>processUpdateStudent</servlet-name>
    <servlet-class>server.ProcessUpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDetails</servlet-name>
    <url-pattern>/Studentdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchStudent</servlet-name>
    <url-pattern>/searchStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateStudent</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>processUpdateStudent</servlet-name>
    <url-pattern>/processUpdateStudent</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>